@media (max-width: 600px) {
    .squre-box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .rectangular-box{
        display: none;
    }
    .largeimg-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 30px;
        align-items: center;
    }
    .Main-box{
        background-color: white;
        color: #0f1111;
        width: 100%;
        padding: 20px 0 15px 0;
    }
    .layout{
        top: -30rem;
        margin: 0 auto;
    }
    .footer-details {
        display: flex;
        gap: 10px;
        padding: 30px 0;
        justify-content: center;
        height: 82%;
        border-bottom: 0.2px solid #DDDDDD;
    }
    body {
        margin: 0;
    }
    .rec-nav {
        background-color: #232f3e;
        height: auto;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .rec-header{
        position: relative;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 5px 15px;
       
    }
    .left, .right {
        display: flex;
        gap: 7px;
        align-items: center;
    }
    .mark{
        top: 5px;
        color: white;
    }
    .rec-searchbar{
        display: flex;
        justify-content: center;
        height: 40px;
    }
    .rec-searchbar input{
        position: relative;
        z-index: 1;
        width: 88%;
        height: 40px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
    }
    .rec-searchicon {
     position: absolute;
     z-index: 2;
     left: 86%;
     background-color: #febd69; 
     width: 40px;
     height: 42px;
     border-radius: 5px;
     }
    .rec-container {
    width: 95%;
    overflow-y: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep items in one line */
    padding: 10px;
    }

    .rec-categories {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display items in a row */
    }

    .rec-categories li {
    margin-right: 20px; /* Add spacing between items */
    }
    .rec-location{
        background-color: #37475a;
        height: 40px;
        display: flex;
        align-items: center;
        color: white;
        gap: 7px;
        padding-left: 10px ;
    }
    .rec-location img{
        height: 20px;
        width: 20px;
    }
    .main-header{
        display: none;
    }
    .responsive{
        display: block;
    }
}