*{
    margin: 0;
    padding: 0;
}


.navbar{
    width: 1000px;
    height: 50px;
    background-color: #202124;
}
.divblank{
    height: 50px;
    width: 70%;
    background-color: #202124;
}

.div1{
    position: flex;
    
}

.navtextbar{
    width: 60px;
    height: 30px;
    background-color:  #202124 ;
}

.navicpnbar{
    width: 60px;
    height: 30px;
    background-color: #202124 ;
}

.naviblockbar{
    width: 100px;
    height: 40px;
    background-color:#65C3FF;
}